<%- layout('layouts/boilerplate') -%>

    <div class="container">

        <h3>Today</h3>
        <hr>
        <% todayCircular.forEach((element,index)=> {%>
            <a href="http://kec-circular.herokuapp.com<%=element.filePath  %> " target="_blank" rel="noopener noreferrer">
                <%=element.title %>
            </a><br>
            <% })%>

                <h3>Yesterday</h3>
                <hr>    
                <% yesterdayCircular.forEach((element,index)=> {%>
                    <a href="http://kec-circular.herokuapp.com<%=element.filePath  %> " target="_blank" rel="noopener noreferrer">
                        <%=element.title %>
                    </a><br>
                    <% })%>

                        <h3>Earlier</h3>
                        <hr>
                        <% monthwise.forEach((element,index)=> {%>
                            <% if(element.value.length!=0){%>

                                <div>
                                    <h4>
                                        <%= element.mon %>
                                    </h4>
                                    <% element.value.forEach( (ele,index)=>{%>
                                        <a href="http://kec-circular.herokuapp.com/<%=ele.filePath  %> " target="_blank"
                                            rel="noopener noreferrer">
                                            <%=ele.title %>
                                        </a><br>
                                        <% }) %>

                                </div>

                                <% }})%>
    </div>